.footer     {
        flex: 80px;
        background-color: cornflowerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
}